---
layout: default
---

<div class="home">
  <div class="profile">
    <img src="assets/profile.jpg" alt="Ryan Tanay's Portrait">
  </div>
  <p class="bio">
    With undergraduate and graduate degrees in digital art and work experience in computer hardware and networking, I've
    been involved with various aspects of computing for years.  Though I'd worked on projects in Actionscript &amp; Second Life's
    <a href="http://wiki.secondlife.com/wiki/LSL_Portal">LSL</a>, and made my own utility scripts in Bash &amp;
    AppleScript I hadn't had any formal education in code until I joined <a href="http://nashvillesoftwareschool.com/">
    Nashville Software School</a>'s 10th cohort for an intensive six month bootcamp where I learned modern mobile-first web deveopment
    skills in a fast paced team project oriented boot camp environment.
  </p>
  <div class="projects">
    <hr>
    <h1>Selected Projects</h1>
    <div class="container">
      <div class="project">
        <h2>Protein Panic</h2>
        <a href="http://proteinpanic.newevolution.org"><img src="assets/proteinpanic.png" alt="Protein Panic Screenshot"></a>
        <p>
          Cellular biology collect-a-thon game where you chase down amino acids to assemble proteins.  Built with the
          <a href="http://phaser.io/">Phaser</a> game framework, <a href="https://angularjs.org/">AngularJS</a>,
          <a href="http://requirejs.org/">RequireJS</a>, and <a href="https://www.firebase.com/">Firebase</a>
          for data storage and user authentication.
        </p>
        <a href="https://github.com/{{ site.github_username }}/proteinpanic">
          {% include githubicon.html %}
          <span class="username">view source</span>
        </a>
      </div>
      <div class="project">
        <h2>WAR!</h2>
        <a href="http://war.newevolution.org"><img src="assets/war.png" alt="WAR Screenshot"></a>
        <p>
          Single player version of the card game war.  Built with <a href="http://requirejs.org/">
          RequireJS</a> and <a href="http://handlebarsjs.com/">Handlebars</a> utilizing the 
          <a href="http://deckofcardsapi.com/" title="Deck of Cards API">Deck of Cards API</a> for gameplay 
          and <a href="https://www.firebase.com/">Firebase</a> for user authentication and score tracking.
        </p>
        <a href="https://github.com/{{ site.github_username }}/war">
          {% include githubicon.html %}
          <span class="username">view source</span>
        </a>
      </div>
      <!-- <div class="project">
        <h2>WAR!</h2>
        <img src="assets/war.png">
        <p>some kind of war game</p>
      </div> -->
    </div>
  </div>
  <div class="technologies">
  <hr>
    <h1>Technologies</h1>
    <ul>
      <li><a href="http://www.w3.org/TR/html5/" title="HTML5"><img src="assets/html5.png" alt="HTML5 Logo"></a></li>
      <li><a href="https://github.com/" title="Github"><img src="assets/github.png" alt="Github Logo"></a></li>
      <li><a href="http://www.w3.org/TR/CSS/" title="CSS3"><img src="assets/css3.png" alt="CSS3 Logo"></a></li>
      <li><a href="http://bower.io/" title="Bower"><img src="assets/bower.png" alt="Bower Logo"></a></li>
      <li><a href="https://www.javascript.com/" title="JavaScript"><img src="assets/javascript.png" alt="JavaScript Logo"></a></li>
      <li><a href="http://phaser.io/" title="Phaser"><img src="assets/phaser.png" alt="Phaser Logo"></a></li>
      <li><a href="http://requirejs.org/" title="RequireJS"><img src="assets/requirejs.png" alt="RequireJS Logo"></a></li>
      <li><a href="https://angularjs.org/" title="AngularJS"><img src="assets/angular.png" alt="AngularJS Logo"></a></li>
      <li><a href="http://handlebarsjs.com/" title="Handlebars"><img src="assets/handlebars.png" alt="Handlebars Logo"></a></li>
      <li><a href="http://gruntjs.com/" title="Grunt"><img src="assets/grunt.png" alt="Grunt Logo"></a></li>
      <li><a href="https://www.npmjs.com/" title="npm"><img src="assets/npm.png" alt="npm Logo"></a></li>
      <li><a href="http://getbootstrap.com/" title="Bootstrap"><img src="assets/bootstrap.png" alt="Bootstrap Logo"></a></li>
      <li><a href="https://www.firebase.com/" title="Firebase"><img src="assets/firebase.png" alt="Firebase Logo"></a></li>
      <li><a href="https://jquery.com/" title="jQuery"><img src="assets/jquery.png" alt="jQuery Logo"></a></li>
      <li><a href="https://msdn.microsoft.com/en-us/library/kx37x362.aspx" title="Visual C#"><img src="assets/csharp.png" alt="Visual C# Logo"></a></li>
      <li><a href="https://www.microsoft.com/net" title=".NET"><img src="assets/dotnet.png" alt=".NET Logo"></a></li>
      <li><a href="https://www.visualstudio.com/en-us/visual-studio-homepage-vs.aspx" title="Visual Studio"><img src="assets/visualstudio.png" alt="Visual Studio Logo"></a></li>
      <li><a href="https://www.microsoft.com/en-us/server-cloud/products/sql-server/" title="SQL Server"><img src="assets/sqlserver.png" alt="SQL Server Logo"></a></li>
    </ul>
  </div>
</div>