---
layout: default
---

<div class="home">
  <div class="profile">
    <img src="assets/profile.jpg" alt="Ryan Tanay's Portrait">
  </div>
  <p class="bio">
    With undergraduate and graduate degrees in digital art and work experience in computer hardware and networking, I've
    been involved with various aspects of computing for years.  Though I'd worked on projects in Actionscript &amp; Second Life's
    <a href="http://wiki.secondlife.com/wiki/LSL_Portal">LSL</a>, and made my own utility scripts in Bash &amp;
    AppleScript I hadn't had any formal education in code until I joined <a href="http://nashvillesoftwareschool.com/">
    Nashville Software School</a>'s 10th cohort for an intensive six month boot camp where I learned modern mobile-first web deveopment
    skills in a fast paced team project oriented environment.
  </p>
  <div class="projects">
    <hr>
    <h1>Selected Projects</h1>
    <div class="container">
      <div class="project">
        <h2>Protein Panic</h2>
        <a href="http://proteinpanic.newevolution.org"><img src="assets/proteinpanic.png" alt="Protein Panic Screenshot"></a>
        <p>
          Cellular biology collect-a-thon game where you chase down amino acids to assemble proteins.  Built with the
          <a href="http://phaser.io/">Phaser</a> game framework, <a href="https://angularjs.org/">AngularJS</a>,
          <a href="http://requirejs.org/">RequireJS</a>, and <a href="https://www.firebase.com/">Firebase</a>
          for data storage and user authentication.
        </p>
        <a href="https://github.com/{{ site.github_username }}/proteinpanic">
          {% include githubicon.html %}
          <span class="username">view source</span>
        </a>
      </div>
      <div class="project">
        <h2>WAR!</h2>
        <a href="http://war.newevolution.org"><img src="assets/war.png" alt="WAR Screenshot"></a>
        <p>
          Single player version of the card game war.  Built with <a href="http://requirejs.org/">
          RequireJS</a> and <a href="http://handlebarsjs.com/">Handlebars</a> utilizing the 
          <a href="http://deckofcardsapi.com/" title="Deck of Cards API">Deck of Cards API</a> for gameplay 
          and <a href="https://www.firebase.com/">Firebase</a> for user authentication and score tracking.
        </p>
        <a href="https://github.com/{{ site.github_username }}/war">
          {% include githubicon.html %}
          <span class="username">view source</span>
        </a>
      </div>
      <div class="project">
        <h2>Thermostats</h2>
        <a href="http://thermostats.herokuapp.com"><img src="assets/thermostats.png" alt="Thermostats Screenshot"></a>
        <p>
          Map-based data visualization of user supplied home thermostat settings.  Built with 
          <a href="https://nodejs.org">NodeJS</a>, <a href="https://www.postgresql.org/">PostgreSQL</a> 
          &amp; <a href="https://angularjs.org/">AngularJS</a> using <a href="http://jvectormap.com/">jVectorMap</a> 
          for data visualization, deployed to <a href="https://www.heroku.com/">Heroku</a>.
        </p>
        <a href="https://github.com/{{ site.github_username }}/thermostats">
          {% include githubicon.html %}
          <span class="username">view source</span>
        </a>
      </div>
      <!-- <div class="project">
        <h2>WAR!</h2>
        <a href="http://war.newevolution.org"><img src="assets/war.png" alt="WAR Screenshot"></a>
        <p>some kind of war game</p>
        <a href="https://github.com/{{ site.github_username }}/war">
          {% include githubicon.html %}
          <span class="username">view source</span>
        </a>
      </div> -->
    </div>
  </div>
  <div class="technologies">
  <hr>
    <h1>Technologies</h1>
    <ul>
      <li><a href="http://www.vim.org/" title="Vim"><img src="assets/vim.png" alt="Vim Logo"></a></li>
      <li><a href="https://www.sublimetext.com/" title="Sublime Text"><img src="assets/sublime.png" alt="Sublime Text Logo"></a></li>
      <li><a href="https://git-scm.com/" title="Git"><img src="assets/git.png" alt="Git Logo"></a></li>
      <li><a href="https://code.visualstudio.com/" title="Visual Studio Code"><img src="assets/visualstudiocode.png" alt="Visual Studio Code Logo"></a></li>
      <li><a href="http://www.adobe.com/products/illustrator.html" title="Adobe Illustrator"><img src="assets/illustrator.png" alt="Adobe Illustrator Logo"></a></li>
      <li><a href="https://www.visualstudio.com/en-us/visual-studio-homepage-vs.aspx" title="Visual Studio"><img src="assets/visualstudio.png" alt="Visual Studio Logo"></a></li>
      <li><a href="http://www.adobe.com/products/photoshop.html" title="Adobe Photoshop"><img src="assets/photoshop.png" alt="Adobe Illustrator Logo"></a></li>
      <li><a href="https://slack.com/" title="Slack"><img src="assets/slack.png" alt="Slack Logo"></a></li>
      <li><a href="https://trello.com/" title="Trello"><img src="assets/trello.png" alt="Trello Logo"></a></li>
      <li><a href="http://www.w3.org/TR/html5/" title="HTML5"><img src="assets/html5.png" alt="HTML5 Logo"></a></li>
      <li><a href="https://github.com/" title="Github"><img src="assets/github.png" alt="Github Logo"></a></li>
      <li><a href="http://www.w3.org/TR/CSS/" title="CSS3"><img src="assets/css3.png" alt="CSS3 Logo"></a></li>
      <li><a href="http://bower.io/" title="Bower"><img src="assets/bower.png" alt="Bower Logo"></a></li>
      <li><a href="https://www.javascript.com/" title="JavaScript"><img src="assets/javascript.png" alt="JavaScript Logo"></a></li>
      <li><a href="http://phaser.io/" title="Phaser"><img src="assets/phaser.png" alt="Phaser Logo"></a></li>
      <li><a href="http://requirejs.org/" title="RequireJS"><img src="assets/requirejs.png" alt="RequireJS Logo"></a></li>
      <li><a href="https://angularjs.org/" title="AngularJS"><img src="assets/angular.png" alt="AngularJS Logo"></a></li>
      <li><a href="http://handlebarsjs.com/" title="Handlebars"><img src="assets/handlebars.png" alt="Handlebars Logo"></a></li>
      <li><a href="http://gruntjs.com/" title="Grunt"><img src="assets/grunt.png" alt="Grunt Logo"></a></li>
      <li><a href="https://www.npmjs.com/" title="npm"><img src="assets/npm.png" alt="npm Logo"></a></li>
      <li><a href="http://getbootstrap.com/" title="Bootstrap"><img src="assets/bootstrap.png" alt="Bootstrap Logo"></a></li>
      <li><a href="https://www.firebase.com/" title="Firebase"><img src="assets/firebase.png" alt="Firebase Logo"></a></li>
      <li><a href="http://sass-lang.com/" title="Sass"><img src="assets/sass.png" alt="Sass Logo"></a></li>
      <li><a href="https://jquery.com/" title="jQuery"><img src="assets/jquery.png" alt="jQuery Logo"></a></li>
      <li><a href="https://azure.microsoft.com/en-us/" title="Microsoft Azure"><img src="assets/azure.png" alt="Microsoft Azure Logo"></a></li>
      <li><a href="https://msdn.microsoft.com/en-us/library/kx37x362.aspx" title="Visual C#"><img src="assets/csharp.png" alt="Visual C# Logo"></a></li>
      <li><a href="https://www.microsoft.com/net" title=".NET"><img src="assets/dotnet.png" alt=".NET Logo"></a></li>
      <li><a href="https://www.microsoft.com/en-us/server-cloud/products/sql-server/" title="SQL Server"><img src="assets/sqlserver.png" alt="SQL Server Logo"></a></li>
      <li><a href="http://gulpjs.com/" title="gulp"><img src="assets/gulp.png" alt="gulp Logo"></a></li>
      <li><a href="https://nodejs.com/" title="Node.js"><img src="assets/nodejs.png" alt="Node.js Logo"></a></li>
      <li><a href="http://chaijs.com/" title="Chai"><img src="assets/chai.png" alt="Chai Logo"></a></li>
      <li><a href="https://mochajs.org/" title="Mocha"><img src="assets/mocha.png" alt="Mocha Logo"></a></li>
      <li><a href="http://expressjs.com/" title="Express"><img src="assets/express.png" alt="Express Logo"></a></li>
      <li><a href="https://facebook.github.io/react/" title="React"><img src="assets/react.png" alt="React Logo"></a></li>
      <li><a href="https://pugjs.org/" title="Pug"><img src="assets/pug.png" alt="Pug Logo"></a></li>
      <li><a href="http://redis.io/" title="Redis"><img src="assets/redis.png" alt="Redis Logo"></a></li>
      <li><a href="https://sqlite.org/" title="SQLite"><img src="assets/sqlite.png" alt="SQLite Logo"></a></li>
      <li><a href="https://www.postgresql.org/" title="PostgreSQL"><img src="assets/postgresql.png" alt="PostgreSQL Logo"></a></li>
      <li><a href="https://www.mongodb.com/" title="MongoDB"><img src="assets/mongodb.png" alt="MongoDB Logo"></a></li>
      <li><a href="http://mongoosejs.com/" title="Mongoose"><img src="assets/mongoose.png" alt="Mongoose Logo"></a></li>
      <li><a href="https://www.nginx.com/" title="NGINX"><img src="assets/nginx.png" alt="NGINX Logo"></a></li>
      <li><a href="https://www.python.org/" title="Python"><img src="assets/python.png" alt="Python Logo"></a></li>
      <li><a href="https://www.djangoproject.com/" title="Django"><img src="assets/django.png" alt="Django Logo"></a></li>
      <li><a href="https://webpack.github.io/" title="webpack"><img src="assets/webpack.png" alt="webpack Logo"></a></li>
    </ul>
  </div>
</div>
