.home {
  margin-top: 35px;
}

.profile {
  img {
    max-width: 300px;
    min-width: 100px;
    max-height: 300px;
    min-height: 100px;
    border: 2px solid $grey-color-light;
    border-radius: 10px;
  }
  float: left;
  margin: 0 30px 30px 0;
  @include media-query($on_palm) {
    float: none;
    text-align: center;
    margin-right: 0;
  }
}

.bio {
  line-height: 2em;
}

h1 {
  margin-top: 0.7em;
}

.projects {
  clear: both;
  text-align: center;
  .container {
    overflow: scroll;
    white-space: nowrap;
    .project {
      margin: 10px 40px;
      white-space: normal;
      vertical-align: top;
      display: inline-block;
      p {
        max-width: 700px;
        margin-top: 10px;
      }
    }
  }
}

.technologies {
  clear: both;
  text-align: center;
  ul {
    list-style: none;
    li {
      max-width: 10%;
      max-height: 10%;
      margin-top: 5px;
      min-width: 50px;
      min-height: 50px;
      display: inline-block;
    }
  }
}

a {
  color: #0A0;
  &:hover {
    color: #0A0;
  }
  &:visited {
    color: #070;
  }
}