.profile {
  img {
    max-width: 300px;
    min-width: 100px;
    max-height: 300px;
    min-height: 100px;
    border: 2px solid $grey-color-light;
    border-radius: 10px;
  }
  float: left;
  margin: 0 30px 30px 0;
  @include media-query($on_palm) {
    float: none;
    text-align: center;
  }
}

.technologies {
  clear: both;
  ul {
    list-style: none;
    text-align: center;
    li {
      max-width: 9.5%;
      min-width: 50px;
      margin-top: 5px;
      max-height: 9.5%;
      min-height: 50px;
      display: inline-block;
    }
  }
}

a,
.username {
  color: #070;
  &:hover {
    color: #040;
  }
}